<!DOCTYPE html>

<html>
<head>
    <title>Editer mon profil</title>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="../script/profile.js">
    
    </script>
</head>

<body>
    <nav id="nav"></nav>
    <script>
    $(function()
    {
        $("#nav").load("../navbar.html");
    });
    </script>

    <div class="container-fluid">
        <div id="notify-alert" class="d-none alert alert-success alert-dismissible fade show text-center" role="alert">
            
        </div>
    </div>

    <div class="container">
        <form method="POST" class="needs-validation" id="changePassword" novalidate>
            <div class="form-group">
                <label class="form-label" for="old-password">Ancien mot de passe</label>
                <input id="old-password" class="form-control" type="password" name="old-password" placeholder="Ancien mot de passe" required>
                <div class="valid-feedback">OK.</div>
                <div class="invalid-feedback">Veillez remplir ce champ.</div>
            </div>
            <div class="form-group">
                <label class="form-label" for="new-password">Nouveau mot de passe</label>
                <input id="password" class="form-control twin-password" type="password" name="new-password" placeholder="Nouveau mot de passe" required>
                <div class="valid-feedback">OK.</div>
                <div class="invalid-feedback">Veillez remplir ce champ.</div>
            </div>
            <div class="form-group">
                <label class="form-label" for="new-password-confirm">Nouveau mot de passe (confirmation)</label>
                <input id="password-confirm" class="form-control twin-password" type="password" name="new-password-confirm" placeholder="Nouveau mot de passe (confirmation)" required>
                <div class="valid-feedback">OK.</div>
                <div class="invalid-feedback">Veillez remplir ce champ.</div>
            </div>
            <div class="form-group d-flex justify-content-center">
                <input class="btn btn-primary btn-lg " type="submit" id="submit-password" value="Mettre à jour mon mot de passe" disabled>
            </div>
        </form>

         
        <form action="/edit/picture/" id="change-picture" method="post" enctype="multipart/form-data">
            <div class="custom-file">
                <input type="file" accept="image/*" name="img" >
                <input class="btn btn-primary btn-lg " type="submit" id="submit-picture" value="Mettre à jour mon image de profil">
            </div>
        </form>
    </div>
</body>
</html>